<% content_for :head do %>
  <title>Connections: <%= @user.fname %> <%= @user.lname %></title>
<% end %>


<h1>You are following these users:</h1>
<% @usersFollowee.each do |user| %>
<p>Username: <a href="/users/<%= :user.id %>/posts"><%=user.username %></a></p>
<% end %>

<h1>You are followed by these users:</h1>
<% @usersFollower.each do |user| %>
<p>Username: <a href="/users/<%= :user.id %>/posts"><%=user.username %></a></p>
<% end %>
 	
