<% content_for :head do %>
  <title>Connections: <%= current_user.fname %> <%= current_user.lname %></title>
<% end %>


<h2>You are following these users:</h2>
 
<% @usersFollowees.reverse.each do |user| %>
<p><a href="/posts/<%= user.id %>"><%=user.username %></a></p>
<% end %>

<h2>You are followed by these users:</h2>

<% @usersFollowers.reverse.each do |user| %>
<%if user.id != current_user.id %>
<p><a href="/posts/<%= user.id %>"><%=user.username %></a></p>
<% end %>
<% end %>
