<% content_for :head do %>
  <title>DogCrimes</title>
<% end %>


 <div id="feed100">	

		<% if flash[:alert] %>     
  		   <div class="alert">   
  			 <%=flash[:alert] %>     
  		   </div>   
  		<% end %>   
  		<% if flash[:info] %>     
  		   <div class="info">   
  			 <%=flash[:info] %>     
  		   </div>   
  		<% end %>

    	<% @posts.each do |post| %>
    		<div id="postFeed">
	   			<p><span id="userName"><%= post.time %> - <%=post.subject %> by 
	   			<a href="/users/<%= :user.id %>/posts"><%= post.user_id.username %></a></span></p>
	   			<p><%= post.body %></p>
    		</div>
    	<% end %>
  	</div>

</div>  

