<% content_for :head do %>
  <title>DogCrimes</title>
<% end %>


 <div>

		<% if flash[:alert] %>     
  		   <div class="alert">   
  			 <%=flash[:alert] %>     
  		   </div>   
  		<% end %>   
  		<% if flash[:info] %>     
  		   <div class="info">   
  			 <%=flash[:info] %>     
  		   </div>   
  		<% end %>


    	<% @posts.reverse.each do |post| %>
    		<div id="postFormat">
        <p><b><%= post.subject %></b> - by <a href="/posts/<%= post.user_id %>"><%= post.user.username %></a> - <%= post.time %></p>
        <p><%= post.body %></p>
        </div>
    	<% end %>
  	</div>

</div>  

