<% content_for :head do %>
  <title>DogCrimes</title>
<% end %>


 <div id="feed100">	

		<% if flash[:alert] %>     
  		   <div class="alert">   
  			 <%=flash[:alert] %>     
  		   </div>   
  		<% end %>   
  		<% if flash[:info] %>     
  		   <div class="info">   
  			 <%=flash[:info] %>     
  		   </div>   
  		<% end %>


    	<% @posts.reverse.each do |post| %>
    		<div id="postFeed">
	   			<p><span id="userName"><%= post.time %> - <%=post.subject %> by 
	   			<a href="/posts/<%= post.user_id %>"><%= post.user.username %></a></span></p>
	   			<p><%= post.body %></p>
    		</div>
    	<% end %>
  	</div>

</div>  

