<% content_for :head do %>
  <title>DogCrimes</title>
<% end %>

<% if session[:user_id] %>
<div id="mainCont">
	<div id="headerCont">
			<div id="logo"> 
				<img src="img/dogcrimes-med.png"> 
			</div> 

			<div id="memberHeaderInfo">
		        <p><span id="logOut"><a href="/logout">Log Out</a></span></p>
  				<p id="welcome">Welcome, <%= @user.fname %> <%= @user.lname %></p>
  				<nav id="menu">
					<ul>
						<li><a href="/">Feed</a>
  						<li><a href="/users/<%= :user.id %>">Profile</a></li>
  						<li><a href="/account">Account</a></li>
  				
					</ul>

				</nav>
  				
        	</div>
		
	</div>
    <div id="feed50">	

    	<% @users.posts.take(3).each do |post| %>
    		<div id="postFeed">
	   			<p><span id="userName"><%= @post.time %> - <%=post.subject %> by 
	   			<a href="/users/<%= :user.id %>"><%= @post.user_id.username %></a></span></p>
	   			<p><%= post.body %></p>
    		</div>
        <% end %>
    </div>
    <div id="feed50">
		<% @users.posts.following.each do |post,followee_id| %>
	
			<div id="postFeed">
	   			<p><span id="userName"><%= @post.time %> - <%=post.subject %> by 
	   			<a href="/users/<%= :user.id %>"><%= @post.user_id.username %></a></span></p>
	   			<p><%= post.body %></p>
    		</div>
    	<% end %>
    </div> 
</div>

<% else %>

<div id="mainCont">
	<div id="headerCont">
		<div id="logo"> 
			<img src="img/dogcrimes-med.png"> 
		</div> 
		<div id="nonmembersSignup"> 
			<h3> <p> Not a member? </p> 
			<a href="/signup"> Sign Up! </a> </h3> 
		</div>
		<div id="membersLogin"> 
			<h3> <p> Already a member? </p> 
			<a href="/signin"> Sign In! </a> </h3> 
		</div>  
		
	</div>
  <div id="feed100">	
    <% @users.post.take(3).each do |post| %>
    <div id="postFeed">
	   <p><span id="userName"><%= post.time %> - <%=post.subject %> by 
	   <a href="/users/<%= :user.id %>"><%= @post.user_id.username %></a></span></p>
	   <p><%= post.body %></p>
    </div>
    <% end %>
  </div>

</div>  
<% end %>
