<% content_for :head do %>
  <title>Posts</title>
<% end %>

<% if @user.id == current_user.id %>

<h2>Make a new post:</h2>
    <form class="form" id="form" method="POST" action="/make-post">
			
			<label for="name">Post Name:</label><br>
			<input type="text" name="subject" id="formField" /><br>
			
			<label for="name">Post Message:</label><br>
			<textarea name="body" placeholder="Write a post..." /></textarea>
			<br><br>

				
			<input class="btn" type="submit" value="Submit" />
	</form>



	<h2>My feed:</h2>

	<% else %>

<div>
<h2><b><%= @user.username.upcase %></b> account info:</h2>
<ul>
<li>Fist Name: <%= @user.fname %></li>
<li>Last Name: <%= @user.lname %></li>
<li>email: <%= @user.email %></li>
</ul>
<% if User.find(session[:user_id]).followees.where(followings:{followee_id: @user.id}).empty?%>
<a href='/users/<%= @user.id %>/follow'>Follow</a>
<% else %>
<a href= '/users/<%= @user.id %>/unfollow'>Unfollow</a>
<%end%>




		<h2><b><%= @user.username.upcase %></b> post feed:</h2>

	<%end%>

	<div>	
    	<% @posts.reverse.each do |post| %>
			<div id="postFormat">
    		<p><b><%= post.subject %></b> - by <a href="/posts/<%= post.user_id %>"><%= post.user.username %></a> - <%= post.time %></p>
	   		<p><%= post.body %></p>
  			</div>
  		<% end %>		
 	</div>
 	

