<% content_for :head do %>
  <title>Posts</title>
<% end %>
<h2>Make a new post:</h2>
    <form class="form" id="form" method="POST" action="/make-post">
			
			<label for="name">Post Name:</label><br>
			<input type="text" name="subject" id="formField" /><br>
			
			<label for="name">Post Message:</label><br>
			<textarea name="body" placeholder="Write a post..." /></textarea>

				
			<input class="btn" type="submit" value="Submit" />
	</form>



	<h2>Your feed:</h2>
	

	<div>	
    	<% @posts.reverse.each do |post| %>
			<div>
    		<p><%= post.time %> - <%= post.subject %> - by <a href="/posts/<%= post.user_id %>"><%= post.user.username %></a></p>
	   		<p><%= post.body %></p>
  			</div>
  		<% end %>		
 	</div>
 	

