<% content_for :head do %>
  <title>Profile</title>
<% end %>


<h1>Account Info:</h1>
<h3>Edit and Save Your Personal Settings</h3>
<div id="editForm"
<form class="form" method="POST" action="/edit">

		
			
			<label for="name">First Name</label><br>
				<input type="text" name="[user]fname" id="formField" value=<%= current_user.fname %>><br>
			

			<label for="name">Last Name</label><br>
				<input type="text" name="[user]lname" id="formField" value=<%= current_user.lname %>><br>
				
		
			<label for="email">Email</label><br>
				<input type="text" name="[user]email" id="formField" value=<%= current_user.email %>><br>
				

			<label for="username">User Name</label><br>
				<input type="text" name="[user]username" id="formField" value=<%= current_user.username %>><br>

			<label for="password">Password</label><br>
				<input type="password" name="[user]password" id="formField" value=<%= current_user.password %>>	<br>
				
			<input class="btn" type="submit" value="Save" />
			

</form>
</div>

<h2>Want to delete your account? <a href="/delete">YES</a> - <a href="/posts">NO</a></h2>
